* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}

@font-face {
	font-family: kamerik-3d;
	src: url(../fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}

@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/merriweather-regular-italic.woff2);
}

body {
	background-color: #000;
	color: #fff;
	font-family: kamerik-3d;
	cursor: pointer;
}

.layers {
	perspective: 1000px;
	overflow: hidden;
}

.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}

.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.layer-1 {
	transform: translateZ(-55px) scale(1.06);
}

.layer-2 {
	transform: translateZ(80px) scale(.88);
}

.layer-3 {
	transform: translateZ(180px) scale(.8);
}

.layer-4 {
	transform: translateZ(190px) scale(.9);
}

.layer-5 {
	transform: translateZ(300px) scale(.9);
}

.layer-6 {
	transform: translateZ(380px);
}

.hero-content {
	font-size: calc(var(--index) * 2.9);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.15);
	line-height: 1.35em;
	margin-top: calc(var(--index) * 5.5);
}

.hero-content span {
	display: block;
}

.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .73);
	line-height: 3;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-webkit-text-stroke: 4px navy;
	text-stroke: 4px navy;
}

.layer-5,
.layer-6 {
	pointer-events: none;
}

.card {}

.card-1 {
	width: 210px;
	height: 300px;
	transform: translateZ(182px) scale(.8);
	left: 15%;
	top: 200px;
	transform: perspective(800px) rotateY(-5deg) scale(0.7) rotateX(10deg) translateZ(190px);
}

.card-2 {
	width: 210px;
	height: 210px;
	transform: translateZ(182px) scale(.8);
	left: 20%;

	top: 65%;
	transform: perspective(800px) rotateY(5deg) scale(0.7) rotateX(15deg) translateZ(190px);
}


.card-3 {
	width: 210px;
	height: 210px;
	transform: translateZ(182px) scale(.8);
	left: 70%;
	top: 15%;
	transform: perspective(800px) rotateY(-10deg) scale(0.7) rotateX(5deg) translateZ(190px);
}


.card-4 {
	width: 210px;
	height: 210px;
	transform: translateZ(182px) scale(.8);
	left: 65%;

	top: 60%;
	transform: perspective(800px) rotateY(-10deg) scale(0.7) rotateX(5deg) translateZ(190px);
}



.card-effect {
	filter: blur(2px);
	opacity: 0.5;
	transition: 0.6s ease all;
	border-radius: 2rem;
}

.card-effect-r {
	filter: blur(2px);
	opacity: 0.5;
	transition: 0.6s ease all;
	border-radius: 2rem;
}

.card-effect:hover {
	transform: perspective(800px) rotateY(25deg) translateY(50px) rotateX(10deg) scale(1) translateZ(190px);
	filter: blur(0);
	opacity: 1;
}

.card-effect-r:hover {
	transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(-5deg) scale(1) translateZ(190px);
	filter: blur(0);
	opacity: 1;
}